body{
  background-color: #fff;
}

#image1 {
  margin-right: -500px;
  width: 400px;
  height: 280px;
  float: right;
  image-height: 300px;
}
#pozy {
  position: absolute;
  top: 0px;
  background-image: url(../img/background1.jpe
    g);
}

#bakimage {
  background-color: #EEE5E9;
  background-image: url(../img/back1.jpg)
}

#intro {
  background-attachment: fixed;
  background-image: url(../img/bac.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#ico {
  border-radius: 8px;
}

#meal {
  border-radius: 8px;
  text-align: center;
}

#kam {
  border-radius: 8px;
}

h4 {
  text-align: center;
}

h3 {
  text-align: center;
}


#skilla {
  background-color: #90A4AE;
  height: 660px;
}


#skick {
  background-color: #EEE5E9;
}

h2 {
  text-align: center;
}

.modal-title {
  font-size: 30px;
}

.inspiration {
   color: black;
   font-family: 'Playball', cursive;
   font-size: 50px;
   font-weight: 100;
   text-align: center;
 }

 .simple {
   font-size: 20px;
   font-family: 'Fredericka the Great', cursive;
   text-decoration-style: dashed;
   color: #17202A;
   text-decoration:

 }
 .fork:hover{
   transform: scale(2.0);
   transition: 1000ms
 }
.fork{
  transition: 1000ms
}


#content {
  margin: 40px auto;
  text-align: center;
  width: 600px;
}

.circle {
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 40px;
}

.Image {
  background-color: #16a085;

}

ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #fff;
 }

 li {
     float: left;
 }

 li a, .dropbtn {
     display: inline-block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 li a:hover, .dropdown:hover .dropbtn {
     background-color: red;
 }

 li.dropdown {
     display: inline-block;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
 }

 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: center;
 }

 .dropdown-content a:hover {background-color: #f1f1f1}

 .dropdown:hover .dropdown-content {
     display: block;
 }

#contac {
  height: 660px;
  background-color: #EEE5E9;
}

#index {
  height: 660px;
}









.navbar-header{
  color: white;
  font-family: 'Playball', cursive;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  float: left;

}

.starter_container {
    margin-top: -21px;
    padding: 0;
    min-width: 100%;
    height: 500px;
    background-image: url('../assets/img/bg-header.jpg');
    background-size: cover;
    text-align: center;
    background-position: center;
}
.follow_container {
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
}
.starter_follow {
    display: inline-block;
    width: 80%;
    z-index: 1;
    margin: 0 auto;
    padding: 0;
}
.top-title{
    color: white;
    font-family: 'Playball', cursive;
    font-size: 100px;
    font-weight: 350;
    text-align: center;
    float: left;


 }
 .desc-text{
   font-weight: 400;
   font-size: 20px;
   font-family: 'Josefin Sans', sans-serif;
   text-transform: capitalize;
   color: #333;
   float: left;

 }
 .goodF-text{
   font-weight: 400;
   font-size: 25px;
   font-family: 'Playball', cursive;
   text-transform: capitalize;
   color: #333;

 }

 .button{
   border: 0;
   margin: 0;
   padding: 0;
 }
 .welcome-text{
   color: #333;
   font-family: 'Playball', cursive;
   font-size: 50px;
   font-weight: 100;
   text-align: center;
 }

 .popular-text{
   color: brown;
   font-family: 'Playball', cursive;
   font-size: 50px;
   font-weight: 100;
   text-align: center;
 }


.second-title {
    font-weight: 400;
    font-size: 30px;
    font-style: italic;
    text-transform: capitalize;
    color: white;
    float: left;

}

.carousel{
  border-style:double;
  border-color: white;
}

.carousel-top {
  padding: 10px 0;
  text-align: center;
  padding-right: 0;
  padding-top: 0;;
}

.inspire{
margin-left: 40px;
height:  560px;

}
  .item {
    padding: 0px;
    font-size: 40px;
  }


    .board{
      position: absolute;
      top: 45%;
      left: 0;
      width: 100%;
      color: white;
      margin: 0;
      padding: 20px
      font-family: 'Fredericka the Great', cursive;
    }

  h2 .image{
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;

  }
  /*.thumbnail {
      position: relative;

  }*/
  /*.thumbnail:hover{
    /*opacity: 0.7;*/
    /*font-size: 30px;
    font-weight: 500;
    font-family:cursive;
    font-style: oblique;*/
    /*background-color: #333;*/


  /*}*/
  .dinner{
    background-image: url(../assets/img/dinner.jpg);
    background-size: cover;
  }
  .breakfast{
    background-image: url(../assets/img/breakfast.jpeg);
    background-size: cover;
  }
  .lunch{
    background-image: url(../assets/img/lunch.jpg);
    background-size: cover;
  }
  .dessert{
    background-image: url(../assets/img/dessert.jpeg);
    background-size: cover;
  }


  .search{
    width: 100%;
  }
  .caption {
      position:relative;
      top: 45%;
      left: 0;
      width: 100%;
      font-style:italic;
      font-weight: bolder;
      margin: 0;
      font-family: fantasy;
      padding: 20px;
      background-color: white;

  }
input[type=texts] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=texts]:focus {
    width: 50%;
}

nav {
    background: #1E1E1E !important;
    font-size: 18px;
    color: white !important;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    float: left;

}

.mid-body{
  /*background-image: url('../assets/img/mid-bg.jpg');*/
  background-size: contain;
  background-repeat: no-repeat;

}

.item {
  padding: 0px;
  font-size: 40px;
}

.glyphicon-search {
  float: right;
}

.container-subscribe {
  /*background-color: #ff6e40;*/
  background-image: url(../img/footer.jpg);
  height: 350px;
  text-align: center;
  color: white;
  padding-top: 35px;
  /*background-repeat: no-repeat;*/
}


.text-email {
  color: white;
  background: rgba(255, 255, 255, 0.3);
  font-weight: bold;
  opacity: 0.25;
  padding: 0.5em 8em 0.5em 0em;
  border: 0.5px;
  border-radius: 5px 5px 5px 5px;
}

.footerlogos {
  padding-top: 20px;
}

.parallax {
    /* The image used */
    background-image: url("../assets/img/bg-header.jpg");
    /* Set a specific height */
    min-height: 300px;
    opacity: 0.8;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.glyphicon-search {
  float: right;
}

.container-subscribe {
  /*background-color: #ff6e40;*/
  background-image: url(../assets/img/footer.jpg);
  height: 350px;
  text-align: center;
  color: white;
  padding-top: 35px;
  /*background-repeat: no-repeat;*/
}


.text-email {
  color: white;
  background: rgba(255, 255, 255, 0.3);
  font-weight: bold;
  opacity: 0.25;
  padding: 0.5em 8em 0.5em 0em;
  border: 0.5px;
  border-radius: 5px 5px 5px 5px;
}

.footerlogos {
  padding-top: 20px;

}

/*contact us form*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
